@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* optimizar codigo de variables y ocupar menos memoria*/
    --color-primary: #272727;
    --color-secondary: #f6f6f6;
    --color-terciary: #22d4fd;
    --color-fondo: linear-gradient(to right, rgb(206, 124, 206), rgb(232, 82, 107));

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}

* {
    padding:0;
    margin:0;
}

body {
    /* cambiar color de fondo por gradient */
    background: var(--color-fondo);    
    /* color de texto */
    color: var(--color-secondary);
    box-sizing: border-box;
    min-height: 100vh; /* cubre toda la pantalla */
    background-size: cover; /* gradiente cubre todo */
    background-attachment: fixed; /* gradiente fijo */
}

.header {
    background-color: var(--color-primary);
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciary);
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}   

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
    font-family:var(--fuente-krona);
}

.titulo-destacado {
    color: var(--color-terciary);
    font-weight: bold;
}

.presentacion__contenido__texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    
}   

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    font-weight: 400;
  
}

/*botones*/
.presentacion__enlaces__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secondary);
    border: 2px solid var(--color-terciary);
    display: flex;
    justify-content: center;
    gap : 10px;
}

.presentacion__enlaces__link:hover {
     background-color: var(--color-primary);
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    background-color: var(--color-primary);
    padding: 24px;
    color: var(--color-secondary);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.125rem;
    font-weight: 400;
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-terciary);
}

@media (max-width: 1270px) {
    .header {
        padding: 5% 0 0 0;
        text-align: center;
    }

    .header__menu {
        flex-direction: column;
        align-items: center; /* centrado */
        gap: 24px;
        justify-content: center; /* centrado vertical si es necesario */
        width: 100%;
    }

    .header__menu__link {
        font-size: 1.2rem;
        padding: 8px 0;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 40px;
    }

    .presentacion__contenido {
        width: 100%;
    }

    .presentacion__imagen {
        width: 100%;
        max-width: 350px;
        align-self: center;
    }
}